{% extends 'base.html' %}
{% block title %}All Hikes{% endblock %}

{% block body %}
  
  {% if state  %}
    <h3>All Hikes from {{ state }} </h3>
  {% elif nationalpark %}
    <h3>All Hikes from {{ npname.area_name }} </h3>
  {% elif dl %}
    <h3>All Hikes from Difficulty Level {{ dl }} </h3>  
  {% elif feature %}
    <h3>All Hikes listing for {{ feature }} friendly trails </h3>  
  {% elif zcode %}
    <h3>All Hikes with in the 50 miles radius of {{ zcode }}  </h3>     
  {% else %}
    <h3>All Hikes from across the US National parks</h3>  
  {% endif %}   

  <ul>
    {% for hike in hikes %}
      <li>
        <a href="/hikes/{{ hike.hike_id }}">
          {{ hike.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
