{% extends 'base.html' %}

{% block head %}
  <script src="/static/js/maps.js"></script>
  <script
    async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcOp-SCFmsmDFlZfjKPU45YUYon80LrhQ&callback=initMap">
  </script>

{% endblock %}

{% block title %}{{ hikedetails.name }} - Details{% endblock %}

{% block body %}

  <h1>{{ hikedetails.name }}</h1>

  <p>National park name: {{ hikedetails.area_name }}</p>
  <p>City: {{ hikedetails.city_name }}</p>
  <p>State: {{ hikedetails.state_name }}</p>
  <p>Country: {{ hikedetails.country_name }}</p>
  <p class = "loc">Location: {{ hikedetails.geoloc }}</p>
  <p>Difficulty Level: {{ hikedetails.difficulty_level }} </p>
  <!-- format to display upto 2 decimal points value for the trail distance -->
  <p>Trail Distance in Miles: {{ "{:.2f}".format(hikedetails.miles) }}</p>
  <p>Trail Features:
    {% for feature in hikedetails.features[1:-1].split(',') %}
       <li>
        {{ feature.replace("'","") }}
       </li>
    {% endfor %}
  </p>
  <p>Average Ratings: {{ hikedetails.avg_rating }}</p>

  {% if curr_temp %}
  
    <h3>Current temprature {{ curr_temp }} Fahrenheit </h3>

    <h3>Min temprature {{ min_temp }} Fahrenheit </h3>

    <h3>Max temprature {{ max_temp }} Fahrenheit </h3>

  {% endif %} 

  <h2>Favorite this trail</h2>
  <form action="/fav_trail" method="POST">
    <p>
      <input name = "hikeID" value = {{ hikedetails.hike_id }} type="hidden">

      <input type="submit">
    </p>
  
  <div id = "map"></div>

{% endblock %}