{% extends 'base.html' %}
{% block title %}Hike Planet Home{% endblock %}

{% block body %}
   
<h1>Welcome to Planet Hike website!</h1>

  <img src="static/image1.jpeg" style="width:40%";/>


  <h2>Navigation</h2>
  <ul>
    <li><a href="/hike">View all hiking places</a></li>
  </ul>

  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}

