{% extends 'base.html' %}
{% block title %}Hike Planet Home{% endblock %}

{% block body %}
   
  <!-- {% if 'user_email' not in session %}
    <h1>Welcome to Planet Hike website!</h1>
  {% elif 'user_email' in session %}
    <a href="/welcome"></a>
  {% endif %}   -->

  <h1>Welcome to Planet Hike website!</h1> 

  <img src="static/image1.jpeg" style="width:40%";/>

  {% if 'user_email' not in session %}
    <h2>Sign in</h2>
    <a href="/redirectologin">Sign in or Sign up</a>
  {% endif %}    
  
  <h2>View all the hikes from the United States</h2>
  <ul>
    <li><a href="/hike">View all hiking places</a></li>
  </ul>

  <h2>Search hiking places by the State</h2>
  <form action="/searchbystate" method="POST">
    <p>
      Enter State name here: <input type="text" value = "California" name="state" required>
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Search hiking places by the National Park</h2>
  <form action="/searchbynp" method="POST">
    <p>
      Enter National Park name here: <input type="text" value = "Yellowstone National Park" name="np" required>
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Search hiking places by difficulty Level</h2>
  <form action="/searchbydifficultylevel" method="POST">
    <p>
      Please select hiking difficulty level: 
    </p>
    <select name="difficulty_level" id="difficulty_level">
      <option value="Easy">Easy</option>
      <option value="Moderate">Moderate</option>
      <option value="Hard">Hard</option>
    </select>
    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Search hiking places by features</h2>
  <form action="/searchbyfeature" method="POST">  
      <p>
        Please select faetures you want to seach with: 
      </p>
      <select name="feature" id="feature">
        <option value="dog">Dog Friendly</option>
        <option value="kid">Kid Friendly</option>
        <option value="water">Has River or Beach access</option>
      </select>
      <p>
        <input type="submit">
      </p>
    </form>

    <h2>Search hiking places within 50 mile radius of your zipcode</h2>
    <form action="/searchbyuserloc" method="POST">  
      <p>
        Please enter your zipcode: <input type="text" name="userloc">
      <p>
        <input type="submit">
      </p>
      </form>  
    
  <!-- <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email" required>
    </p>

    <p>
      Password <input type="password" name="password" required>
    </p>
    <p>
      First name <input type="text" name="fname">
    </p>
    <p>
      Last name <input type="text" name="lname">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form> -->
{% endblock %}

